body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:   rgb(34, 31, 31);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Top 10 igri/ Prikazi tipovi igri/Prikazi Igri Search */

#hover_top_10 {
    padding-bottom: 15px;
    padding-top: 20px;
}

#ocena_top_10 {
    color: rgb(131, 33, 33);
    border-bottom: burlywood solid 1px;
}

#top_10{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: auto;
    width: 50;
}

#top10_tekst {
    padding-bottom: 20px;
    color: blanchedalmond;
}

#hover_top_10 a {
    color: rgb(172, 40, 40);
}

#hover_top_10:hover{
    -webkit-transform: scale(1.2);
}

/* footer */

#footer {
    text-align: center;
    color: rgb(243, 207, 140);
    padding-top: 2%;
}


/* Header */

#ime_user {
    color:  blanchedalmond ;
    margin-bottom: 5px;
    font-size: 120%;
}

#text_search {
    background-color: blanchedalmond ;
}

#button_search {
    background-color: blanchedalmond ;
    font-weight: bold;
    border-radius: 5px;
}

#div_pocetna_lista {
    background-color: rgb(131, 33, 33);
    width: 100%;
    
}

#pocetna_lista a{
    color: blanchedalmond;
    font-weight: bold;
    font-size: 120%;
}

#pocetna_lista {
    margin: 0;
}
   

#hover:hover{
    -webkit-transform: scale(1.2);
}

#pocetna_lista li {
float: left;
list-style-type: none;
margin-right: 40px;
}

#glavna_lista_desno {
display: flex;
justify-content: flex-end;
}

/* Prkazi tipovi */

#lista_tipovi {
    font-size: 150%;
    list-style-type: square;
}

#li_tipovi a {
    color: rgb(197, 88, 88);
}
#li_tipovi a:hover {
    color: rgb(197, 44, 44);
}

/* Predlozi igra/Promeni Igra */

#opcionalno{
display: inline;
} 

#predlozi_igra {
padding-left: 2%;
}

#predlozi_igra p {
     color: rgb(172, 40, 40) ;
    }

#uspesno_predlozena h2 {
    color: rgb(243, 207, 140);
    padding-left: 2%;

}

#predlozi_igra label {
    font-size: 120%;
    color: rgb(243, 207, 140);
}

#slika {
    color: rgb(243, 207, 140);
}

#button_predlozi {
    background-color: blanchedalmond ;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5%;
}

#predlozi_igra h2 {
    padding-left: 4%;
    color: rgb(243, 207, 140);
}

#button_promeni {
    background-color: blanchedalmond ;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 2%;
}

/* Novi Igri */

#nova_igra {
    text-align: center;
    padding-top: 2%;
    font-size: 120%;
    
}

#nova_igra form {
    display: inline;
    margin-right: 30px;
}

#border {
    border-bottom: burlywood solid 1px;
}


#nova_igra p {
    color: rgb(243, 207, 140);
}

/* Info Igra */
#info_igra_naslov {
    text-align: center;
}

#info_igra_naslov p {
    color: rgb(131, 33, 33);
    font-size: 150%;
    font-weight: bold;
}

#info_igra_naslov form {
    float: left;
}

#info_igra {
    padding-left: 2%;
    font-size: 120%;
}

#info_igra ul {
    list-style-type: square;
}

#info_igra form {
    display: inline;
}

#info_igra label {
    color: rgb(243, 207, 140);
}

#info_igra p {
    color: rgb(243, 207, 140);
}

#kom {
    border-bottom: burlywood solid 1px;
    width: 50%;
}



#komentari_div p {
    padding-left: 2%;
        color: rgb(238, 183, 82);
        width: 70%;
        
}
 #datum {
     font-size: 70%;
 }


 /* Sign-Up/Sign-In */

 #sign_up {
     text-align: center;
     font-size: 120%;
 }

 #input {
    margin-top: 20px;
    background-color: blanchedalmond ;
}

#sign_up p {
    color: rgb(172, 40, 40) ;
}

#sign_up label {
    color: rgb(172, 40, 40) ;
}

/* Greski */

#greska {
    text-align: center;
    color: wheat;
}

